.page-header
  %h2 Culture

%h3 Balanced Lifestyle
.ul
  .li Work between 20 and 40 hours a week
  .li Adequate daily exercise
  .li Social time
  .li Eat food that supports health
  .li Lots of laughter and play
  .li Support others in having their dreams come true
  .li Have a list of 10 items a person wants to have happen within a year of posting
  .li Have a “bucket list” of 10 items for each employee available to all
  .li Know what other peoples list is
  .li Know what their own “special genius” is

Live by Cowboy Ethics:

We will pay 1% of the income of the business to an environmental group – see  http://

onepercentfortheplanet.org

And we will qualify the business as a business that could be a Game Changer 500

company – see www.GameChangers500.com

We qualify for a B-Corporation

The “Genius of the And”

Delivery system like Amazon.com

Sharing the risks and rewards

Openness and Transparency always

Affiliate marketing is often part of the marketing mix

We use Dialogue and Discussion

We use Consensus and Majority Rule and Authoritarian Decision Making

We hire exceptional employees

We pay above average wages to exceptional employees plus profit share

We eliminate average employees and give them great severance packages (like Netflix)

No-one can work for the company more than 5 years

We support each employee in moving on to their next company or starting their own

business. This company is a learning expansion experience.

A bonus of 10% is available for training (personal growth and specific) for each

employee for approved workshops and seminars as well as in-house

We are usually 5 to 10 minutes early for meetings

One massage and one Chiropractic adjustment every other week on company time and

paid for by the company

One Body Talk session every other week on company time and paid for by the company

2 – 2 1⁄2 hour sessions at the rec center every week on company time.

Incorporate the philosophy of The Five Dysfunctions of a Team by Patrick Lencioni

Understand Deming’s 14 Points and follow them
