.page-header
  %h3 Application

The application is designed to be a complete Self Discovery process for each applicant that will have

value even if the applicant is not accepted for the position they are applying for.

Many share the results with family and friends and Founder/Co-Creators share the results with their

fellow Founder/Co-Creators to enable the team to be more effective. Coach/mentors also complete

the application and share that with their Founder/Co-Creators and other coach/mentors.

We believe this set of discovery tools can have huge value for those who take the time to complete

them. Your feedback is always appreciated, so please give us some we can share with others as

well as what you would prefer to remain confidential.

Each potential Co-Creator fills out the “Application and Mini-workshop” and submits:

a. Results of www.MyEZOG.com profile

b. Majors PTI Personality Report

c. Enneagram Report

d. Test results from Strength Finder 2.0 by Tom Rath

e. Test results from Now Discover Your Strengths by Marcus Buckingham

f. Test results from Entrepreneurial Strengths Finder by Jim Clifton

g. Results of $97 test at www.wealthdynamicscentral.com

h. Results of test at www.MyGeniusTest.com

i. Proof you have been a participant in a Start-up Weekend

j. Your Grit Test results - https://sasupenn.qualtrics.com/SE/?SID=SV_06f6QSOS2pZW9qR

k. Proof you have attended For Love and Money ...be Good with People by Jolina Karen

Potential Founder/Co-Creators, Visionary/Co-Creators, and Mentor/Co-Creators all have the same

application and indicate which position they are applying for to be able to take the next steps.

To understand this model of starting a business:

•  Start by watching 33 min. of videos starting here - http://vimeo.com/37359240

•  More information at www.SteveBlank.com

Suggested Reading list:

The Lean Startup by Eric Ries (2011)

Business Model Generation by Alexander Osterwalder & Yves Pigneur (2010)

The Startup Owner’s Manual by Steve Blank and Bob Dorf (2012)

Venture Capital for Dummies by Nicole Gravagna and Peter Adams (2013)

Venture Deals by Brad Feld and Jason Mendelson (2013)

Do More Faster by David Cohen and Brad Feld (2011)

Zero to One by Peter Thiel (2014)

Blueprint to a Billion by David Thomson (2006)

Built to Last by Jim Collins and Jerry Porras (1994)

Blue Ocean Strategy by W. Chan Kim and Renee Mauborgne (2005)

No Contest by Alfie Kohn (1986)

The Five Dysfunctions of a Team by Patrick Lencioni (2002)

Collective Genius by Linda Hill, Greg Brandeau, Emily Truelove, Kent Lineback (2014)

The Entrepreneur Roller Coaster by Darren Hardy (2015)

The Founder’s Dilemmas by Noam Wasserman (2013)

Slicing Pie by Mike Moyer (2012)

Predictably Irrational by Dan Ariely (2008)
