.page-header
  %h3 Affiliates

Affiliates do not have to buy anything to be an affiliate. They can be referred by another

affiliate (our preference) or join by seeing one of our ads or an article about us.

Each affiliate has their own affiliate page that enables them to list 10 goals they would

like to accomplish within 1 year of posting plus their 10 most important “bucket list” items.

They are encouraged to share their site with friends who would support them in

accomplishing those goals.

In addition, we have banners and other tools to use to promote us as well as suggested

emails inviting friends to visit your site and help you accomplish your goals as well as

ones to invite people to become a Founder, Visionary, or Mentor.

If you are named as the sponsor of a Visionary and we help develop their idea, you will

earn 1 unit of ownership in that idea.
